<html ng-app="ContactDatabaseApp">

<head>
    <!-- THEME FILES -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- ANGULARJS FILES -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular-sanitize.js"></script>
    <!-- ANGULAR BOOTSTRAP UI -->

    <!-- CUSTOM FILES -->
    <link href="nctc/style.css" rel="stylesheet" />
</head>
<body>


<div id="wrapper">
    <div id="page-wrapper" style="margin: 0; top: 0">
        <div id="page-inner" ng-controller="contractdbCtrl">




            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">Contract Database <small>NCTC Staff</small></h1>
                </div>
            </div>

          <div class="row">
                <div class="col-md-6 col-sm-6">

<tabset>
    <tab heading="Contracts">

                    <div class="panel panel-default" style="padding: 10px;">

                        <div ng-show="contracts.showLoader" style="float: right; width: 100px;padding-left: 10px;">

                            <div class="spinner" style="margin: 0px; float: right;">
                              <div class="rect1"></div>
                              <div class="rect2"></div>
                              <div class="rect3"></div>
                              <div class="rect4"></div>
                              <div class="rect5"></div>
                            </div>
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon">Search Contract Name</span>
                            <input type="text" ng-model="contracts.search_term" class="form-control">
                        </div>


                        <div class="form-group input-group">
                            <span class="input-group-addon">Types</span>
                            <select
                                class="form-control"
                                ng-options="cat as cat.category_name for cat in contracts.categories"
                                ng-model="contracts.category_item"
                                ng-change="filterCategories()">
                            </select>
                        </div>

                        <div class="panel-heading">
                             Results from Contract Database
                        </div>

                        <div class="panel-body">
                            <div style="height: 60%; overflow:auto;">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Contract Name</th>
                                                <th>Network</th>
                                                <th>Type</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="item in contracts.search_results | filterTermAndCategory:contracts.search_term:contracts.category_item">
                                                <td>
                                                    {{item.contract_name}}
                                                </td>
                                                <td>
                                                    {{item.network_name}}
                                                </td>
                                                <td>
                                                    {{item.category_name}}
                                                    {{item.type}}
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-default btn-sm" ng-click="getResult(item.type, item.provision_id)">view</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!--class="col-md-6 col-sm-6"-->
  </tab>
  <tab heading="Networks">
                   <div class="panel panel-default" style="padding: 10px;">

                        <div ng-show="networks.showLoader" style="float: right; width: 100px;padding-left: 10px;">

                            <div class="spinner" style="margin: 0px; float: right;">
                              <div class="rect1"></div>
                              <div class="rect2"></div>
                              <div class="rect3"></div>
                              <div class="rect4"></div>
                              <div class="rect5"></div>
                            </div>
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon">Search Term</span>
                            <input type="text" ng-model="networks.netsearch_term" class="form-control" placeholder="">
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon">Categories</span>
                            <select
                                class="form-control"
                                ng-options="netcat as netcat.category for netcat in networks.netcategories"
                                ng-model="networks.netcategory_item"
                                ng-change="filternetCategories()">
                            </select>
                        </div>

                                                        <!-- ********************************************************** -->
                                                        <div class="form-group input-group">
                                                            <span class="input-group-addon">Subcategories</span>
                                                            <select  ng-disabled="subCategoryDisabled"
                                                                class="form-control"
                                                                ng-options="netsubcat as netsubcat.subcategory for netsubcat in networks.netsubcategories"
                                                                ng-model="networks.netsubcategory_item"
                                                                ng-change="filternetSubCategories({{networks.netcategory_item.categoryId}})">
                                                            </select>
                                                        </div>
                                                        <!-- ********************************************************** -->


                        <div class="panel-heading">
                             Results from Contract Database
                        </div>

                        <div class="panel-body">
                            <div style="height: 60%; overflow:auto;">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Network</th>
                                                <th>Category</th>
                                                <th>Subcategory</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>



                                        <tr ng-repeat="item in  networks.netsearch_results | filterTermAndNetworkCategory:networks.netsearch_term:networks.netcategory_item:networks.netsubcategory_item">
                                                <td>
                                                      {{item.network}}
                                                </td>
                                                <td>
                                                    {{item.category}}

                                                </td>
                                                <td>
                                                    {{item.subcategory}}
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-default btn-sm" ng-click="getNetworkResult(item.categoryId,item.subcategoryId,item.network,item.category,item.subcategory)">view</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!--class="col-md-6 col-sm-6"-->
  </tab>

  <tab heading="Glossary">
         <div class="panel panel-default" style="padding: 10px;">

                        <div ng-show="showLoader" style="float: right; width: 100px;padding-left: 10px;">

                            <div class="spinner" style="margin: 0px; float: right;">
                              <div class="rect1"></div>
                              <div class="rect2"></div>
                              <div class="rect3"></div>
                              <div class="rect4"></div>
                              <div class="rect5"></div>
                            </div>
                        </div>

 
      <!-- can angular only show unique valuse in this, or is it necessary to determine in the filterAgreements js function?  -->
                        <div class="form-group input-group">
                            <span class="input-group-addon">Agreements </span>
                            <select
                                class="form-control"
                                ng-options="agrName as agrName.NctcAgreementName for agrName in glossary.agreements"
                                ng-model="glossary.glossary_agreement_item"
                                ng-change="filterAgreements()">
                            </select>
                        </div>


                        <div class="form-group input-group">
                            <span class="input-group-addon">Search Term</span>
                            <input type="text" ng-model="glossary.gloss_search_term" class="form-control" placeholder="enter glossary term">
                        </div>



                        <div class="panel-heading">
                             Results from Contract Database
                        </div>
                        <!-- ************************** -->
                        <!-- ************************** -->

                        <div class="panel-body">
                            <div style="height: 60%; overflow:auto;">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Contracts</th>
                                                <th>Term</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="item in glossary.gloss_search_results | filterGlossaryTermAndAgreement:glossary.gloss_search_term:glossary.glossary_agreement_item">
                                                <td>
                                                    {{item.NctcAgreementName}}
                                                </td>
                                                <td>
                                                    {{item.GlossaryTerm}}
                                                </td>
                                                <td>
                                                <a href="#" class="btn btn-default btn-sm" ng-click="getGlossaryResult(item.AgreementGlossaryOfTermsId)">view</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!--class="col-md-6 col-sm-6"-->
  </tab>
</tabset>

</div>



 <!-- here is where we need to show an array of 'displayResultText's, selected from
 interactions with left panels - ng-repeat of array items, not using table rows - TH
 NEXT - NEED TO PUT THESE INTO A JSON object, for storing favorite results...? -->



<div class="col-md-6 col-sm-6">



    <a href="#" class="btn btn-default btn-sm" ng-click="collapseArray()">Collapse All</a>
    <a href="#" class="btn btn-default btn-sm" ng-click="clearArray()">Clear All</a>

    <div ng-repeat="(key,r) in rightColArray">
        <div>
            <div class="panel panel-default" style="padding: 10px; overflow:auto; border-radius: 15px; border: 1px; border-left: {{r.color}} solid 15px;">
                <p  ng-show="!r.display">
                    {{r.collapsed1}}<br />
                    {{r.collapsed2}}<br />
                    {{r.collapsed3}}<br />
                </p>
                <p ng-show="r.display" ng-bind-html="r.description"> </p>
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-default" href="#" role="button" ng-click="removeElement(key)"><img src="/assets/images/1439540269_ban.png"  alt="remove" style="height:18px;"/></a>
                    <a class="btn btn-default" href="#" role="button" ng-click="moveElementUp(key)"><img src="/assets/images/1439540757_double-arrow-up.png"  alt="remove" style="height:18px;"/></a>
                    <a class="btn btn-default" href="#" role="button" ng-click="moveElementDown(key)"><img src="/assets/images/1439540766_double-arrow-down.png"  alt="remove" style="height:18px;"/></a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="" ng-show="r.display" ng-click="r.display=!r.display" class="btn btn-default"><img src="/assets/images/1439540773_upload.png"  alt="remove" style="height:18px;"/></a>
                    <a href="" ng-show="!r.display" ng-click="r.display=!r.display" class="btn btn-default"><img src="/assets/images/1439540780_download.png"  alt="remove" style="height:18px;"/></a>
                </div>
            </div>
        </div>
        <!-- ng-init -->
    </div>
</div>


<!--   {{myJsonString | json}}  -->


            </div>
        </div>
    </div>
</div>





    <!-- script block -->
    <script src="contractApp.js"></script>
    <!--script src="contractCtrl.js"></script-->
    <script src="UnifiedCDCtrl.js"></script>
    <!-- end of script block -->
</body>
</html>
